body {
    background-color: #F2F2F2;
}

div {
    width: 98%;
    max-width: 550px;
}

.input-number {
    width: 90%;
    padding-bottom: 100px;
    max-width: 500px;
    resize: none;
}

textarea {
    width: 90%;
    height: 100px;
    max-width: 500px;
    resize: none;
}

.pseudo-link {
    color:blue;
}

.math-span {
    font-family: "Cambria Math";
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}